<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

*{
	background:#ecf0f1;
}

.main-header{
	
	color:#2f3640;
	font-style:roman;
	font-family:Times New Roman;
	text-align: center;
	border: 7px solid #ff5252;
	border-radius: 8px;
	background:#f7f1e3;
	 padding: 10px;
	 margin:5px;

}
#menu ul{
  list-style: none;
}
#menu li{
  display: inline;
  color:#ff4757;
}
.upper-image{
	
	border:3px solid #ff5252;
	margin:5px 1px;
	border-radius: 8px;

}
.description{
	color: #000;
    margin-top: -3.3125rem;
    padding: 1.125rem 1.625rem 0;
    font-size: 2.75rem;
    line-height: 1;
    text-align:center;
}
.small-imgs{
	border-radius: 8px;
	margin:10px;
    float:left;
    padding:10px;

}
ul li{
	
	display:inline-block;
	margin:10px;
}

.top-left{
	
 float:right;
}